*, :after, :before {
  box-sizing: border-box;
}

html, body {
  background: #222;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
}

main {
  max-width: 960px;
  margin: 25px auto;
}

section.input {
  width: 100%;
  height: 100px;
}

.input-body {
  float: left;
  width: 465 / 960 * 100%;
  height: 100%;
  border: 1px solid #222;
  padding: 20px;
  &:focus {
    outline: none;
  }
  font-size: 1em;
}

.input-preview {
  float: right;
  width: 465 / 960 * 100%;
  height: 100%;
  padding: 20px;
  border: 2px dashed #fff;
}

section.notes {
  margin-top: 25px;
  padding-top: 25px;
  border-top: 1px solid #fff;
  clear: both;
  overflow: hidden;
}

.note {
  float: left;
  &:nth-of-type(odd) {
    float: right;
  }
  width: 465 / 960 * 100%;
  height: 100px;
  margin-bottom: 25px;
  padding: 20px;
  border: 2px solid #fff;
  overflow: scroll;
}

.delete-button {
  float: right;
  background: #222;
  color: #fff;
  padding: 5px;
  border: 1px solid #fff
}
