*, :after, :before {
  box-sizing: border-box;
}

html, body {
  background: #222;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
}

main {
  max-width: 960px;
  margin: 25px auto;
  overflow: hidden;
}

h1 {
  padding: 0;
}

section.input {
  width: 100%;
  height: 150px;
}

.input-text {
  height: 100%;
}

.input-body,
.input-preview {
  height: 100%;
  width: 465 / 960 * 100%;
  border-radius: 4px;
  padding: 20px;
}
.input-body {
  float: left;
  border: 1px solid #222;
  &:focus {
    outline: none;
  }
  font-size: 1em;
}
.input-preview {
  float: right;
  border: 2px dashed #fff;
}

section.notes {
  margin-top: 25px;
  padding-top: 25px;
  border-top: 1px solid #fff;
  clear: both;
  overflow: hidden;
}
.note {
  float: left;
  &:nth-of-type(odd) {
    float: right;
  }
  width: 465 / 960 * 100%;
  height: 150px;
  margin-bottom: 25px;
  padding: 20px;
  border: 2px solid #444;
  overflow: scroll;
  border-radius: 4px;
  background: #666;
  .delete-button {
    float: right;
    background: #222;
    color: #fff;
    padding: 5px 8px;
    border: 1px solid #fff
  }
}

header {
  clear: both;
  overflow: hidden;
  .brand {
    float: left;
    display: inline-block;
  }
  .flash_messages-success {
    float: right;
    display: inline-block;
    height: 100%;
    padding: 10px;
    border-radius: 3px;
    color: #3f8b44;
    background: #6beb6d;
    text-align: center;
    span {
      display: none;
    }
  }
}
